{% extends 'base.html.twig' %}


{% block body %}

    {% for category, arts in artsByCategory %}
        <div class="my-5 px-4" style="margin-top:50px;">
            <h2 class="mb-3">{{ category }}</h2>
            <div class="d-flex overflow:hidden" style="margin: 20px; padding: 10px; gap: 20px; background-color:#288adb">
                {% for art in arts %}
                    <a href="" class="text-decoration-none text-dark">
                        <div class="card" style="min-width: 100px; max-width: 400px; height: 400px; overflow: hidden;">
                            <img src="{{ asset('uploads/art/' ~ art.img) }}" class="w-100 h-75 object-fit-cover" alt="{{ art.name }}">
                            <div class="card-body p-1 d-flex justify-content-between" style="font-size: 0.75rem;">
                                <span>{{ art.name }}</span>
                                <span>{{ art.artiste.username }}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
