{% extends "base.html.twig" %}
{% block body %}
    <h1 class="text-light">Modifier l’œuvre : {{ art.name }}</h1>

    <a href="{{ path('app_artiste_page', {'id': user.id} )}}" class="btn btn-warning mb-3 mt-2">Retour</a>
{{ form_start(form) }}

    <div class="mb-3 text-light">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="mb-3 text-light">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="mb-3 text-light">
        {{ form_label(form.categories) }}
        {{ form_widget(form.categories) }}
        {{ form_errors(form.categories) }}
    </div>

    <button class="btn btn-success">Modifier</button>

{{ form_end(form) }}

{% endblock %}