{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <h1 class="mb-4">Bonjour {{ artiste.username }}</h1>

    <a href="{{ path('app_artiste_demande', { id: app.user.id }) }}" class="btn btn-warning mb-3">
    📥 Voir mes demandes reçues
    </a>

    <div class="text-white p-4 rounded" style="background-color :#d9c357;">
        <h2>Œuvres</h2>
        <div class="row">
            {% for art in arts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if art.img %}
                            <a href="{{ path('art_edit', {id : art.id}) }}"><button>edit</button></a>
                            <img src="{{ asset('uploads/art/' ~ art.img) }}" class="card-img-top" alt="{{ art.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ art.name }}</h5>
                            {% if art.description %}
                                <p class="card-text">{{ art.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-white">Aucune œuvre trouvée pour cet artiste.</p>
            {% endfor %}
            <a href="{{ path('art_add')}}"><button class="btn rounded-circle" style="height: 150px; font-size: 50px; background-color: #fff424;">Ajouter une oeuvres</button></a>
        </div>
    </div>
</div>
{% endblock %}
