{% extends "base.html.twig" %}

{% block body %}

<h1 class="text-light">Modifier vos Information {{user.username}}</h1>

<a href="{{ path('app_settings', {'id': user.id} )}}" class="btn btn-warning">Retour</a>

{{ form_start(form) }}
    <div class="mb-3">
        <label class="text-light">{{ form_label(form.email) }}</label>
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="mb-3">
        <label class="text-light">{{ form_label(form.username) }}</label>
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) }}
    </div>

    <div class="mb-3">
        <label class="text-light">{{ form_label(form.password)}}</label>
        {{ form_widget(form.password)}}
        {{ form_errors(form.password)}}
    </div>

    <button class="btn btn-primary">Modifier</button>
    
{{ form_end(form) }}

{% endblock %}