{% extends "base.html.twig" %}

{% block body %}
<h1 class="text-light">Changement de mot de passe</h1>

<a href="{{ path('app_settings', {'id': user.id} )}}" class="btn btn-warning">Retour</a>

{{ form_start(form) }}

    <div class="mb-3">
        <label class="text-light">{{ form_label(form.oldpassword) }}</label>
        {{ form_widget(form.oldpassword) }}
        {{ form_errors(form.oldpassword) }}
    </div>

    <div class="mb-3">
        <label class="text-light">{{ form_label(form.newpassword) }}</label>
        {{ form_widget(form.newpassword) }}
        {{ form_errors(form.newpassword) }}
    </div>
        <button class="btn btn-primary">Modifier</button>
{{ form_end(form)}}
{% endblock %}