{% extends 'base.html.twig' %}

{% block title %}GestionCrudUsers index{% endblock %}

{% block body %}
    <h1>GestionCrudUsers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Passwords</th>
                <th>IsAdmin</th>
                <th>IsArtiste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gestion_crud_user in gestion_crud_users %}
            <tr>
                <td>{{ gestion_crud_user.id }}</td>
                <td>{{ gestion_crud_user.username }}</td>
                <td>{{ gestion_crud_user.email }}</td>
                <td>{{ gestion_crud_user.passwords }}</td>
                <td>{{ gestion_crud_user.isAdmin ? 'Yes' : 'No' }}</td>
                <td>{{ gestion_crud_user.isArtiste ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_gestion_crud_users_show', {'id': gestion_crud_user.id}) }}">show</a>
                    <a href="{{ path('app_gestion_crud_users_edit', {'id': gestion_crud_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gestion_crud_users_new') }}">Create new</a>
{% endblock %}
