{% extends 'base.html.twig' %}

{% block title %}GestionCrudUsers{% endblock %}

{% block body %}
    <h1>GestionCrudUsers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gestion_crud_user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ gestion_crud_user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ gestion_crud_user.email }}</td>
            </tr>
            <tr>
                <th>Passwords</th>
                <td>{{ gestion_crud_user.passwords }}</td>
            </tr>
            <tr>
                <th>IsAdmin</th>
                <td>{{ gestion_crud_user.isAdmin ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsArtiste</th>
                <td>{{ gestion_crud_user.isArtiste ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gestion_crud_users_index') }}">back to list</a>

    <a href="{{ path('app_gestion_crud_users_edit', {'id': gestion_crud_user.id}) }}">edit</a>

    {{ include('gestion_crud_users/_delete_form.html.twig') }}
{% endblock %}
